* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* border: 1px solid salmon; */
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #fafafa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    
}

.thumb {
    width: 420px;
}

.panel {
    width: 340px;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 3px;
    padding: 20px 40px;
    margin: 10px 0;
    display: flex;
}

.login {
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 40px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fafafa;
    border: 1px solid #dedede;
    border-radius: 3px;
}

.input-box::placeholder {
    color: #8a8a8a;
    font-size: 12px;
}

.input-box:focus {
    outline: none;
    border: 1px solid #8a8a8a;
}

.button {
    width: 100%;
    margin-top: 10px;
    padding: 7px 0;
    background-color: #1a95e7;
    color: #fff;
    border-radius: 3px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.button:active{
    background-color: #b6e2ff;
}

.divider {
    margin-top: 18px;
    display: flex;
    width: 100%;
    font-size: 12px;
    color: #8a8a8a;
    font-weight: 700;
    gap: 20px;
    align-items: center;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #dbdbdb;
}

.fb {
    margin: 20px;
    color: #415b94;
    font-size: 14px;
    font-weight: 600;
}

.fb img {
    width: 15px;
    margin-right: 2px;
}

.forgot {
    font-size: 12px;
    color: #000;
}

.signup {
    justify-content: center;
    gap: 5px;
    font-size: 14px;
}

.signup a{
    font-weight: 700;
    color: #0095f6;
}

.apps {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin: 20px 0;

}

.app-stores {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.app-stores img {
    width: 140px;
    height: auto;
}

footer {
    max-width: 33em;
    margin-bottom: 40px;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    font-size: 12px;
    margin: 20px 0;
}
li, a {
    color: #8a8a8a;
}